In [59]:
import pandas as pd
import json

In [60]:
path = "usagov_bitly_data2012-03-16-1331923249.txt"

In [69]:
records = [json.loads(line) for line in open(path)]

In [71]:
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'al': 'en-US,en;q=0.8',
 'c': 'US',
 'cy': 'Danvers',
 'g': 'A6qOVH',
 'gr': 'MA',
 'h': 'wfLQtf',
 'hc': 1331822918,
 'hh': '1.usa.gov',
 'l': 'orofrog',
 'll': [42.576698, -70.954903],
 'nk': 1,
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 't': 1331923247,
 'tz': 'America/New_York',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991'}

In [79]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]

In [81]:
time_zones[:10]

['America/New_York',
 'America/Denver',
 'America/New_York',
 'America/Sao_Paulo',
 'America/New_York',
 'America/New_York',
 'Europe/Warsaw',
 '',
 '',
 '']

In [89]:
from collections import defaultdict
def get_counts(sequence):
    counts = defaultdict(int)
    
    for tz in sequence:
        counts[tz] += 1
    
    return counts

In [90]:
get_counts(time_zones)

defaultdict(int,
            {'': 521,
             'Africa/Cairo': 3,
             'Africa/Casablanca': 1,
             'Africa/Ceuta': 2,
             'Africa/Johannesburg': 1,
             'Africa/Lusaka': 1,
             'America/Anchorage': 5,
             'America/Argentina/Buenos_Aires': 1,
             'America/Argentina/Cordoba': 1,
             'America/Argentina/Mendoza': 1,
             'America/Bogota': 3,
             'America/Caracas': 1,
             'America/Chicago': 400,
             'America/Chihuahua': 2,
             'America/Costa_Rica': 1,
             'America/Denver': 191,
             'America/Edmonton': 6,
             'America/Guayaquil': 2,
             'America/Halifax': 4,
             'America/Indianapolis': 20,
             'America/La_Paz': 1,
             'America/Lima': 1,
             'America/Los_Angeles': 382,
             'America/Managua': 3,
             'America/Mazatlan': 1,
             'America/Mexico_City': 15,
             'America/Monterrey': 1,
             'America/Montevideo': 1,
             'America/Montreal': 9,
             'America/New_York': 1251,
             'America/Phoenix': 20,
             'America/Puerto_Rico': 10,
             'America/Rainy_River': 25,
             'America/Recife': 2,
             'America/Santo_Domingo': 1,
             'America/Sao_Paulo': 33,
             'America/St_Kitts': 1,
             'America/Tegucigalpa': 1,
             'America/Vancouver': 12,
             'America/Winnipeg': 4,
             'Asia/Amman': 2,
             'Asia/Bangkok': 6,
             'Asia/Beirut': 4,
             'Asia/Calcutta': 9,
             'Asia/Dubai': 4,
             'Asia/Harbin': 3,
             'Asia/Hong_Kong': 10,
             'Asia/Istanbul': 9,
             'Asia/Jakarta': 3,
             'Asia/Jerusalem': 3,
             'Asia/Karachi': 3,
             'Asia/Kuala_Lumpur': 3,
             'Asia/Kuching': 1,
             'Asia/Manila': 1,
             'Asia/Nicosia': 1,
             'Asia/Novosibirsk': 1,
             'Asia/Pontianak': 1,
             'Asia/Riyadh': 1,
             'Asia/Seoul': 5,
             'Asia/Tokyo': 37,
             'Asia/Yekaterinburg': 1,
             'Australia/NSW': 6,
             'Australia/Queensland': 1,
             'Chile/Continental': 6,
             'Europe/Amsterdam': 22,
             'Europe/Athens': 6,
             'Europe/Belgrade': 2,
             'Europe/Berlin': 28,
             'Europe/Bratislava': 3,
             'Europe/Brussels': 4,
             'Europe/Bucharest': 4,
             'Europe/Budapest': 5,
             'Europe/Copenhagen': 5,
             'Europe/Dublin': 3,
             'Europe/Helsinki': 10,
             'Europe/Lisbon': 8,
             'Europe/Ljubljana': 1,
             'Europe/London': 74,
             'Europe/Madrid': 35,
             'Europe/Malta': 2,
             'Europe/Moscow': 10,
             'Europe/Oslo': 10,
             'Europe/Paris': 14,
             'Europe/Prague': 10,
             'Europe/Riga': 2,
             'Europe/Rome': 27,
             'Europe/Skopje': 1,
             'Europe/Sofia': 1,
             'Europe/Stockholm': 14,
             'Europe/Uzhgorod': 1,
             'Europe/Vienna': 6,
             'Europe/Vilnius': 2,
             'Europe/Volgograd': 1,
             'Europe/Warsaw': 16,
             'Europe/Zurich': 4,
             'Pacific/Auckland': 11,
             'Pacific/Honolulu': 36})

In [101]:
len(time_zones)

3440

In [100]:
counts['America/New_York']

1251

In [110]:
def top_counts(count_dict, n=10):
    value_key_pairs = [(count, tz) for tz, count in count_dict.items()]
    value_key_pairs.sort()
    return value_key_pairs[-n:]

In [111]:
top_counts(counts)

[(33, 'America/Sao_Paulo'),
 (35, 'Europe/Madrid'),
 (36, 'Pacific/Honolulu'),
 (37, 'Asia/Tokyo'),
 (74, 'Europe/London'),
 (191, 'America/Denver'),
 (382, 'America/Los_Angeles'),
 (400, 'America/Chicago'),
 (521, ''),
 (1251, 'America/New_York')]

In [112]:
from collections import Counter